openapi: 3.0.0
info:
  title: Unified API for accessing pharmacies data
  description: Through this interface it is possible to retrieve generic information about pharmacies (as service times, services available, addresses...) and, provided the doctorId, also order drugs and specify treatments for specific patients.
  version: '1.0'

servers:
  - url: http://www.unipharma.com/api
    description: Main server, base URL for API call

paths:
  /patients/{patient}:
    get:
      summary: Check if the patient is registered in the pharmacies DB
      parameters:
        - in: patient
          name: patient
          schema:
            type: string
            example: Giovanna
          required: true
          description: Patient nickname
      responses:
        '404':
          description: Patient not present in pharmacies DB
          content:
            application/json:
              schema:
                type: string
                example: Patient Giovanna is not found
        '200':
          description: Patient is registered in pharmacies DB
          content:
            application/json:
              schema:
                type: string
                example: Patient Giovanna is registered

  /patients:
    post:
      summary: Add a patient in the pharmacies DB
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                nickname:
                  type: string
              example:
                nickname: Giorgia
      responses:
        '400':
          description: Patient already registered in pharmacies DB
          content:
            application/json:
              schema:
                type: string
                example: Patient 'Giovanna' already registered
        '200':
          description: Patient successfully registered in pharmacies DB
          content:
            application/json:
              schema:
                type: string
                example: Patient 'Giovanna' successfully registered

  /therapies:
    get:
      summary: Get all therapies registered in the pharmacies DB
      responses:
        '200':
          description: List of registered therapies in the pharmacies DB
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                    oncologist:
                      type: string
                    patient:
                      type: string
                    drug:
                      type: string
                    dosage:
                      type: string
                    comment:
                      type: string
                  example:
                    id: 1
                    oncologist: Gianni
                    patient: Veronica
                    drug: Tamoxifene
                    dosage: 2 mg
                    comment: null
    post:
      summary: Register a therapy in the pharmacies DB
      responses:
        '400':
          description: Therapy patient not registered in the pharmacies DB
          content:
            application/json:
              schema:
                type: string
                example: Patient 'Giovanna' is not registered
        '201':
          description: Therapy seccessfully registered in the pharmacies DB
          content:
            application/json:
              schema:
                type: string
                example: Therapy 5 successfully created

  /therapies/{therapyId}:
    post:
      summary: Update a registered therapy in the pharmacy DB
      parameters:
        - in: therapyId
          name: therapyId
          schema:
            type: integer
          required: true
          description: Therapy ID
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                properties:
                  oncologist:
                    type: string
                  patient:
                    type: string
                  drug:
                    type: string
                  dosage:
                    type: string
                  comment:
                    type: string
                example:
                  oncologist: Gianni
                  patient: Veronica
                  drug: Tamoxifene
                  dosage: 2 mg
                  comment: null
      responses:
        '404':
          description: Therapy not registered in pharmacies DB
          content:
            application/json:
              schema:
                type: string
                example: Therapy 2 not found
        '200':
          description: Therapy successfully updated in pharmacies DB
          content:
            application/json:
              schema:
                type: string
                example: Therapy 2 successfully updated

    delete:
      summary: Delete a registered therapy in the pharmacy DB
      parameters:
        - in: therapyId
          name: therapyId
          schema:
            type: integer
          required: true
          description: Therapy ID
      responses:
        '404':
          description: Therapy not registered in pharmacies DB
          content:
            application/json:
              schema:
                type: string
                example: Therapy 2 not found
        '200':
          description: Therapy successfully deleted in pharmacies DB
          content:
            application/json:
              schema:
                type: string
                example: Therapy 2 successfully deleted
